@import url('https://rsms.me/inter/inter.css');

body * {
  all: unset;
  box-sizing: border-box;
}

.figma-dark input {
  color-scheme: dark;
}

.main {
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: var(--figma-color-text);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px;
  height: 100%;
}

.button {
  padding: 0.75em 1em;
  background-color: var(--figma-color-bg-brand);
  border-radius: 6px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border: 2px solid transparent;
}

.button:active {
  border-color: var(--figma-color-border-brand-strong);
}

.button.disabled {
  background-color: var(--figma-color-bg-disabled);
  pointer-events: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.input {
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 2px;
  margin-left: 22px;
}

.input::placeholder {
  color: var(--figma-color-text-disabled);
}

.input:hover {
  border-color: var(--figma-color-border);
}

.input:focus {
  border-color: var(--figma-color-border-selected);
}

.input.hidden {
  display: none;
}

.heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.horizontal-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  cursor: pointer;
}

.link {
  color: var(--figma-color-text-brand);
  cursor: pointer;
}

.text-disabled {
  color: var(--figma-color-text-disabled);
}

.radio {
  appearance: auto;
}

.select-wrapper {
  position: relative;
}

.select {
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: var(--figma-color-bg);
  width: 100%;
}

.select:hover {
  border-color: var(--figma-color-border);
}

.select:focus {
  border-color: var(--figma-color-border-selected);
}

.select-arrow {
  position: absolute;
  inset: 0 0 0 calc(100% - 28px);
  background-color: var(--figma-color-border);
  pointer-events: none;
  border-radius: 0 2px 2px 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.select-arrow::before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--figma-color-text);
  clip-path: polygon(4px 0, 6px 0, 6px 6px, 0 6px, 0 4px, 4px 4px);
  transform: rotate(45deg);
}

.select:hover ~ .select-arrow {
  display: flex;
}

.select:focus ~ .select-arrow {
  display: flex;
  background-color: var(--figma-color-border-selected);
}

.select:focus ~ .select-arrow::before {
  background-color: white;
}

.separator {
  width: 100%;
  border: none;
  border-top: 1px solid var(--figma-color-border);
}
